*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
}

nav{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #fff;
  padding: 10px 50px;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  list-style: none;
  margin-right: 35px;
}

nav ul li a{
  text-decoration: none;
  color: #002855;
  font-size: 20px;
  font-weight: 600;
}

.logo img{
  width: 200px;
}

.menu-mobile{
  display: none;
}

#menu-icon{
  display: none;
  font-size: 30px;
  cursor: pointer;
}

i{
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #002855;
}

.menu-mobile.active {
  display: block;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.image-container {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-left {
  left: 100px;
  clip-path: polygon(0% 0, 100% 0, 80% 100%, 0% 100%);
}

.image-right {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.element{
  position: absolute;
  top: 0.7vh;
  left: 187vh;
  border-radius: 80px;
}

.element-2{
  position: absolute;
  right: 187vh;
  top: 25vh;
}

/* Ícones sobrepostos */
.section1-tooth-icon {
  position: absolute;
  bottom: 0%;
  left: 13%;
  width: 100px;
  height: auto;
}

.plus-icon {
  position: absolute;
  top: 92%;
  left: 72%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: auto;
  z-index: 10;
}

section{
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  padding: 50px 0;
}

main{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 10px 50px;
  z-index: 2;
}

h1 {
  font-size: clamp(32px, 6vw, 70px); 
  color: #15127A;
  font-weight: 800;
  margin-bottom: 30px;
}

h4 {
  font-size: clamp(16px, 3vw, 20px);
  color: #2589DB;
  width: 100%;
  max-width: 600px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
}
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px; /* Defina uma altura fixa para a seção de imagens */
}

.image-container {
  position: relative;
  width: 50%;
  height: 100%; /* Certifique-se de que o contêiner de imagem preencha a altura da seção */
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorção */
  display: block;
}

.image-left {
  left: 100px;
  clip-path: polygon(0% 0, 100% 0, 80% 100%, 0% 100%);
}

.image-right {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.element{
  position: absolute;
  top: 0.7vh;
  left: 187vh;
  border-radius: 80px;
}

.element-2{
  position: absolute;
  right: 187vh;
  top: 25vh;
}

.second-section {
  height: 500px;
  width: 100%;
  position: relative;
}

.background-pattern {
  width: 100%;
  height: 70vh;
  background-image: 
  url("data:image/svg+xml,%3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='15' y='18' font-size='24' font-weight='bold' text-anchor='middle' fill='%234a90e2'%3E%2B%3C/text%3E%3C/svg%3E");
  background-size: 20px 20px;
  opacity: 0.3;
  z-index: 0;
  position: absolute;
}

.hexagon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px; 
  margin: 0 auto;
  z-index: 2;
}

.hexagon img {
  width: 100%;
  height: auto;
}

.section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    cursor: pointer;
    background-color: #ffffff;
  }

  .icon {
    display: none;
  }

  i {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #002855;
  }

  #menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .menu-mobile {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #002855;
  }

  .menu-mobile .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
  }

  .menu-mobile.active .menu {
    display: block;
  }

  .menu-mobile .menu ul {
    list-style: none;
    padding: 10px;
  }

  .menu-mobile .menu ul li {
    margin: 10px 0;
  }

  .menu-mobile .menu ul li a {
    text-decoration: none;
    color: #002855;
    font-size: 18px;
    font-weight: 600;
  }
}

@media (max-width: 1024px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    cursor: pointer;
    background-color: #ffffff;
  }

  .icon {
    display: none;
  }

  i {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #002855;
  }

  #menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .menu-mobile {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #002855;
  }

  .menu-mobile .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
  }

  .menu-mobile.active .menu {
    display: block;
  }

  .menu-mobile .menu ul {
    list-style: none;
    padding: 10px;
  }

  .menu-mobile .menu ul li {
    margin: 10px 0;
  }

  .menu-mobile .menu ul li a {
    text-decoration: none;
    color: #002855;
    font-size: 18px;
    font-weight: 600;
  }
}

.terceira-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

/* IMAGENS POSICIONADAS DENTRO DA TERCEIRA SECTION */
.terceira-section-malha-direita {
  position: absolute;
  top: -15%;
  right: 2%;
  width: 11%;
  max-width: auto;
  z-index: 0;
}

.terceira-section-malha-esquerda {
  position: absolute;
  top: 5%;
  left: 17%;
  width: 11%;
  max-width: auto;
  z-index: 0;
}

.terceira-section-azul-retangulo {
  position: absolute;
  top: 17%;
  left: 0;
  width: 12%;
  max-width: auto;
  z-index: 2;
}

.terceira-section-azul-hexagono {
  position: absolute;
  top: 32%;
  right: 0;
  width: 10%;
  max-width: auto;
  z-index: 2;
}

.terceira-section-experiencia{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.terceira-section-titulo{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 38px;
}

.terceira-section-icone{
  width: 20%;
  height: auto;
}

.terceira-section-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 80%;
  max-width: 1200px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  gap: 90px;
}

.terceira-section-container-mensagem-titulo{
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}

.terceira-section-esquerdo{
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 50%;
  justify-content: space-between;
  padding-top: 140px;
}

.terceira-section-direito{
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 80px;
}

.terceira-section-icone{
  height: 100%;
  max-height: 300px;
}

.terceira-section-container-mensagem h3{
  font-size: 20px;
  color: #15127A;
  margin-bottom: 10px;
}

.terceira-section-container-icone{
  width: 8%;
  height: auto;
}

.terceira-section-rodape{
  display: flex;
}

.terceira-section-rodape-denteMaior{
  position: relative;
  align-items: center;
  width: 60%;
  height: auto;
  right: 80%;
}

.terceira-section-rodape-malhaEsquerda{
  position: relative;
  align-items: center;
  width: 40%;
  height: auto;
  left: 80%;
}
.quarta-section{
  display: flex;
  align-items: center;
  margin: 0 4%;
  gap: 2%;
}

.quarta-section-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 2% 2%;
  max-width: 1200px; 
  width: 100%;
}

.quarta-section-caixa1,
.quarta-section-caixa2,
.quarta-section-caixa3{
  background-color: #15127A;
  color: #FFFFFF;
  text-align: center;
  padding: 35px;
  width: 30%; 
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-grow: 1;
}

.quarta-section-caixa2{
  background-color: #2589DB;
}

.quarta-section-caixa3{
  background-color: #E3F2F9;
  color: #2589DB;
}

.quarta-section-icone,
.quarta-section-icone3{
  width: 60px; /* Tamanho uniforme para os ícones */
  height: 60px;
  margin-bottom: 10px; /* Espaçamento igual para todos */
}

.quarta-section-icone3{
  position: relative;
  width: 80px; /* Tamanho do círculo */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quarta-section-circulo {
  width: 100%; /* O círculo fica no tamanho original */
  position: relative;
  z-index: 1;
}

.quarta-section-retangulo-h {
  width: 50px; /* Ajuste para caber dentro do círculo */
  position: absolute;
  top: 39%;
  z-index: 3;
}

.quarta-section-retangulo-v {
  width: 18px; /* Ajuste para caber dentro do círculo */
  position: absolute;
  top: 17%;
  z-index: 2;
}

.quarta-section-caixa-titulo{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: capitalize;
}

.quarta-section-caixa-paragrafo{
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  margin-inline: 30px;
}

.quarta-section-botao{
  display: flex;
  /*margin-top: auto;*/
}

.quarta-section-caixa-botao1,
.quarta-section-caixa-botao2,
.quarta-section-caixa-botao3,
.quarta-section-caixa-more,
.quarta-section-caixa-more3{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  background-color: #15127A;
  color: #FFFFFF;
  border: none;
  padding: 10px;
}

.quarta-section-caixa-botao1{
  background-color: #2589DB;
}

.quarta-section-caixa-more{
  background-color: #8EB8E5;
}

.quarta-section-caixa-more3{
  background-color: #2589DB;
}

.quarta-section-botao:hover{
  transform: translateY(-5px);
  background-color: white;
  color: #15127A;
}

/* Responsividade */
@media (max-width: 1024px) {
  .quarta-section-caixa1,
  .quarta-section-caixa2,
  .quarta-section-caixa3 {
    width: 45%; /* Duas por linha */
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .quarta-section-container {
    flex-direction: column;
    align-items: center;
  }

  .quarta-section-caixa1,
  .quarta-section-caixa2,
  .quarta-section-caixa3 {
    width: 100%; /* Fica uma abaixo da outra */
    margin-top: 20px;
  }
}

.fifth-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  height: 600px;
  width: 100%;
}

h2{
  font-size: 32px;
  align-items: center;
  justify-content: center;
}

.highlight{
  color: #15127A;
}

.slider-container {
  width: 85%;
  overflow: hidden;
  cursor: context-menu;
  margin-top: 70px;
  position: relative;
}

.slider {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  user-select: none;
}

.slider::-webkit-scrollbar{
  display: none;
}

.btn{
  position: absolute;
  margin-top: 90px;
  left: 0.5%;
  border: none;
  background-color: transparent;
}

.btn-1{
  position: absolute;
  margin-top: 90px;
  right: 0;
  border: none;
  background-color: transparent;
}

.btn .vector-btn,
.btn-1 .vector-btn{
  position: relative;
  transform: translateY(-80%);
  left: -52%;
}

.card {
  min-width: 317px;
  height: 317px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  position: relative;
}

.card .elipse{
  width: 81px;
  height: 81px;
  position: absolute;
  margin-top: -35px;
  margin-left: -25px;
}

.card img {
  width: 33px;
  height: 33px;
  margin-top: -10px;
  position: relative;
}

.card h3 {
  color: #15127A;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p {
  color: #000;
  margin-top: 15px;
  max-width: 244px;
  overflow: hidden;
  text-align: justify;
  overflow-wrap: break-word;
  white-space: normal;
  overflow-y: hidden;
}

.five_element{
  position: absolute;
  right: 187vh;
  top: -7vh;
}
.five_element-2{
  position: absolute;
  left: 187vh;
  top: -25vh;
}
.five_element-3{
  position: absolute;
  right: 170vh;
  top: 5vh;
}
.five_element-4{
  position: absolute;
  top: 15vh;
  right: 140vh;
}
.five_element-4-1{
  position: absolute;
  top: 90vh;
  right: 50vh;
}
.five_element-5{
  position: absolute;
  top: 4vh;
  right: 30vh;
}
.sexta-section{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 0px 0px;
  z-index: 2;
  
}
.sexta-tittle{
display: flex;
justify-content: center;
align-items: center;
color: #15127A;
font-family: "Montserrat", sans-serif;
}
.conteudo{
display: flex;
justify-content: center;
z-index: 2;
}

.mapa{
  width: 600px;
  height: 400px;
  z-index: 2;
  
}
.predio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.background-pattern {
  width: 100%;
  height: 60vh;
  background-image: 
  url("data:image/svg+xml,%3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='15' y='18' font-size='24' font-weight='bold' text-anchor='middle' fill='%234a90e2'%3E%2B%3C/text%3E%3C/svg%3E");
  background-size: 20x 20px;
  opacity: 0.3;
  z-index: 0;
  position: absolute;
}

.text-sexta{
  justify-content: center;
  color: #1E3A8A;

}
.text2-sexta{
  justify-content: center;
  color: #1E3A8A;

}
/*.retangulo-sexta{
  position: absolute;
  left: -1px; 
  z-index: 2;
}*/


@media (max-width: 1024px) {
  .conteudo {
    flex-direction: column;
    align-items: center; /* Centraliza os itens */
    text-align: center;
    width: 100%; /* Garante que ocupa toda a largura */
    max-width: 90%;
    margin: 0 auto; /* Centraliza no meio da tela */
  }

  .predio img {
    max-width: 80%; /* Ajusta o tamanho da imagem */
    height: auto;
  }

  .mapa {
    width: 90%; /* Mantém o mapa responsivo */
    max-width: 600px;
    height: auto;
  }

  .text-sexta, 
  .text2-sexta {
    font-size: 16px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
    text-align: center;
  }

  .mapa {
    width: 90%;
    height: auto;
  }

  .sexta-tittle {
    font-size: 40px;
  }

  .text-sexta, 
  .text2-sexta {
    font-size: 16px;
    width: 90%;
  }
}
.depoimentos_clientes{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
  position: relative;
}

/* Título */
.titulo {
  text-align: center;
  color: #15127A;
  margin-bottom: 40px;
  font-size: 24px;
}

.Tooth {
  position: absolute;
  right: 300px;
  top: 7px;
  width: 100px;
  height: auto;
}

.enfeite {
  position: absolute;
  top: 85px;
  left: 10px;
  width: 60px;
}

.Star {
  position: absolute;
  top: -75px;
  right: 10px;
  width: 110px;
}

.depoimentos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  column-gap: 0px;
  justify-items: center;
  width: 1200px;
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 80px;
}

.depoimento_individual {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.circulo {
  width: 35px; /* Ligeiramente maior para melhor proporção */
  height: 45px;
  position: relative;
  margin-left: -45px;
  top: 12px;
  z-index: 1;
}

.aspas {
  width: 25px; /* Ajuste o tamanho das aspas */
  height: auto;
  position: relative;
  top: 3px; /* Ajuste fino da posição das aspas dentro do círculo */
  left: -11px;
  z-index: 2;
}

.usuario img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 118px;
  left: 3px;
  border: 3px solid #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.retangulo {
  position: relative;
  align-items: center;
  width: 100%;
  display: flex;
  margin-top: -40px;
}

.triangulo{
  margin-top: -15px;
}

.texto {
  text-align: justify;
  position: absolute;
  top: 70px;
  left: 30px;
  right: 20px;
  width: 440px;
}

.texto p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #15127A;
  margin-top: -40px;
}

.user-text {
  position: absolute;
  top: 130px;
  left: 80px;
}

.user-text h4 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 16px;
  color: #15127A;
}

.user-text .cliente {
  font-family: 'Montserrat', sans-serif;
  color: #2589DB;
  font-size: 14px;
}

.enfeite2 {
  position: absolute;
  bottom: 80px;
  right: 1px;
  width: 100px;
}

.enfeite3 {
  position: relative;
  left: 35%;
  bottom: -40px;
  width: 100px;
}

@media (max-width: 768px) {
  .depoimentos {
      grid-template-columns: 1fr;
  }

  .depoimento_individual {
      width: 90%;
  }

  .usuario img {
      left: 50%;
      transform: translateX(-50%);
  }
}

.Contatos{
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0;
}

.Enfeite1 {
  position: absolute;
  bottom: 80px;
  left: 200px;
  width: 100px;
}

.Enfeite {
  position: absolute;
  bottom: 200px;
  right: 450px;
  width: 100px;
}

.Tooth {
  position: absolute;
  top: 35px;
  left: 50px;
  width: 120px;
}

.Tooth2 {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

.Tooth3 {
  position: absolute;
  margin-top: 265px;
  right: 292px;
  width: 100px;
}

.Prancheta {
  position: absolute;
  margin-top: 130px;
  right: 35px;
  width: 420px;
}

.Retangulo {
  position: absolute;
  margin-top: 40px;
  right: 1px;
  width: 180px;
}

.Estrela {
  position: absolute;
  bottom: 15px;
  left: 1px;
  width: 160px;
}

.Primeiro {
  text-align: center;
  margin-top: 120px;
}

.Novidades h2 {
  font-size: 1.6em;
  font-weight: bold;
  color: #0a3d91;
}

.Horario h2 {
  font-size: 1.6em;
  font-weight: bold;
  color: #007bff;
}

.Mensagem {
  position: absolute;
  bottom: 120px;
  width: 80%;
  text-align: left;
  left: 310px;
}

.Envie h1 {
  font-size: 1.3em;
  font-weight: bold;
  color: #0a3d91;
}

.Duvida h1{
  font-size: 1.0em;
  font-weight: bold;
  color: #0a3d91;
}


.Contato {
  display: flex;
  align-items: center;
  font-size: 1.0em;
  font-weight: bold;
  color: #007bff;
  gap: 10px;
  margin-left: 80px;
}

.Contato2{
  display: flex;
  align-items: center;
  font-size: 1.0em;
  font-weight: bold;
  color: #007bff;
  gap: 10px;
  margin-left: 80px;
}

.Contato img {
  width: 30px;
  height: 30px;
}

.Contato2 img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .Prancheta {
    width: 220px;
    top: 8%;
    right: 5%;
  }

  .Retangulo {
    width: 80px;
  }

  .Tooth {
    width: 60px;
  }

  .Tooth2 {
    width: 70px;
    bottom: 5%;
  }

  .Estrela {
    width: 60px;
  }

  .Mensagem {
    width: 95%;
    bottom: 2%;
  }
}
