/* SECTION 1 - INÍCIO */
.header-1st-section,
.header-1st-section * {
  box-sizing: border-box;
}

.header-1st-section {
  height: 787.41px;
  position: relative;
}

.background {
  background: #ffffff;
  width: 1512px;
  height: 519px;
  position: absolute;
  left: 321px;
  top: 231px;
}

.section1-img-2 {
  border-radius: 0px;
  width: 772px;
  height: 443px;
  position: absolute;
  left: 1061px;
  top: 231px;
  overflow: visible;
  object-fit: cover;
}

.section1-img-1 {
    border-radius: 0px;
    width: 890px;
    height: 443px;
    position: absolute;
    left: 1211px;
    top: 674px;
    transform: translate(-890px, -443px);
    overflow: visible;
    object-fit: cover;}

.section1-tooth-icon {
  width: 71px;
  height: 65px;
  position: absolute;
  left: 485.27px;
  top: 633px;
  transform-origin: 0 0;
  transform: rotate(34.987deg) scale(1, 1);
  object-fit: cover;
}

.blue-bubble-2-icon {
  border-radius: 0px;
  width: 402.2px;
  height: 402.2px;
  position: absolute;
  left: 0px;
  top: 439.1px;
  transform: translate(85.98px, -100.55px);
  overflow: visible;
  aspect-ratio: 1;
}

.plus-icon {
  background: linear-gradient(
      to left,
      rgba(37, 137, 219, 0.5),
      rgba(37, 137, 219, 0.5)
    ),
    linear-gradient(to left, rgba(37, 137, 219, 0.5), rgba(37, 137, 219, 0.5)),
    linear-gradient(to left, rgba(37, 137, 219, 0.5), rgba(37, 137, 219, 0.5)),
    linear-gradient(to left, rgba(37, 137, 219, 0.5), rgba(37, 137, 219, 0.5)),
    linear-gradient(to left, rgba(37, 137, 219, 0.5), rgba(37, 137, 219, 0.5));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.2em;
  font-weight: 700;
  position: absolute;
  left: 1292px;
  top: 661.03px;
  transform-origin: 0 0;
  transform: rotate(-15.044deg) scale(1, 1);
}

.blue-bubble-1-icon {
  border-radius: 0px;
  width: 402.2px;
  height: 402.2px;
  position: absolute;
  left: 1602px;
  top: 201.1px;
  transform: translate(85.98px, -100.55px);
  overflow: visible;
  aspect-ratio: 1;
}
/* SECTION 1 - FIM */