*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
}

nav{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #fff;
  padding: 10px 50px;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  list-style: none;
  margin-right: 35px;
}

nav ul li a{
  text-decoration: none;
  color: #002855;
  font-size: 20px;
  font-weight: 600;
}

.logo img{
  width: 200px;
}

.menu-mobile{
  display: none;
}

#menu-icon{
  display: none;
  font-size: 30px;
  cursor: pointer;
}

i{
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #002855;
}

.menu-mobile.active {
  display: block;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.image-container {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-left {
  left: 100px;
  clip-path: polygon(0% 0, 100% 0, 80% 100%, 0% 100%);
}

.image-right {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.element{
  position: absolute;
  top: 0.7vh;
  left: 187vh;
  border-radius: 80px;
}

.element-2{
  position: absolute;
  right: 187vh;
  top: 25vh;
}

/* Ícones sobrepostos */
.section1-tooth-icon {
  position: absolute;
  bottom: 0%;
  left: 13%;
  width: 100px;
  height: auto;
}

.plus-icon {
  position: absolute;
  top: 92%;
  left: 72%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: auto;
  z-index: 10;
}

section{
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  padding: 50px 0;
}

main{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 10px 50px;
  z-index: 2;
}

h1{
  font-size: 70px;
  color: #15127A;
  font-weight: 800;
  margin-bottom: 60px;
}

h4{
  font-size: 20px;
  color: #2589DB;
  width: 70%;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px; /* Defina uma altura fixa para a seção de imagens */
}

.image-container {
  position: relative;
  width: 50%;
  height: 100%; /* Certifique-se de que o contêiner de imagem preencha a altura da seção */
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorção */
  display: block;
}

.image-left {
  left: 100px;
  clip-path: polygon(0% 0, 100% 0, 80% 100%, 0% 100%);
}

.image-right {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.element{
  position: absolute;
  top: 0.7vh;
  left: 187vh;
  border-radius: 80px;
}

.element-2{
  position: absolute;
  right: 187vh;
  top: 25vh;
}

.second-section {
  height: 500px;
  width: 100%;
  position: relative;
}

.background-pattern {
  width: 100%;
  height: 70vh;
  background-image: 
  url("data:image/svg+xml,%3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='15' y='18' font-size='24' font-weight='bold' text-anchor='middle' fill='%234a90e2'%3E%2B%3C/text%3E%3C/svg%3E");
  background-size: 20px 20px;
  opacity: 0.3;
  z-index: 0;
  position: absolute;
}

.hexagon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px; 
  margin: 0 auto;
  z-index: 2;
}

.hexagon img {
  width: 100%;
  height: auto;
}

.section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    cursor: pointer;
    background-color: #ffffff;
  }

  .icon {
    display: none;
  }

  i {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #002855;
  }

  #menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .menu-mobile {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #002855;
  }

  .menu-mobile .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
  }

  .menu-mobile.active .menu {
    display: block;
  }

  .menu-mobile .menu ul {
    list-style: none;
    padding: 10px;
  }

  .menu-mobile .menu ul li {
    margin: 10px 0;
  }

  .menu-mobile .menu ul li a {
    text-decoration: none;
    color: #002855;
    font-size: 18px;
    font-weight: 600;
  }
}

@media (max-width: 1024px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    cursor: pointer;
    background-color: #ffffff;
  }

  .icon {
    display: none;
  }

  i {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #002855;
  }

  #menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .menu-mobile {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #002855;
  }

  .menu-mobile .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
  }

  .menu-mobile.active .menu {
    display: block;
  }

  .menu-mobile .menu ul {
    list-style: none;
    padding: 10px;
  }

  .menu-mobile .menu ul li {
    margin: 10px 0;
  }

  .menu-mobile .menu ul li a {
    text-decoration: none;
    color: #002855;
    font-size: 18px;
    font-weight: 600;
  }
}

.terceira-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

/* IMAGENS POSICIONADAS DENTRO DA TERCEIRA SECTION */
.terceira-section-malha-direita {
  position: absolute;
  top: -15%;
  right: 2%;
  width: 11%;
  max-width: auto;
  z-index: 0;
}

.terceira-section-malha-esquerda {
  position: absolute;
  top: 5%;
  left: 17%;
  width: 11%;
  max-width: auto;
  z-index: 0;
}

.terceira-section-azul-retangulo {
  position: absolute;
  top: 17%;
  left: 0;
  width: 12%;
  max-width: auto;
  z-index: 2;
}

.terceira-section-azul-hexagono {
  position: absolute;
  top: 32%;
  right: 0;
  width: 10%;
  max-width: auto;
  z-index: 2;
}

.terceira-section-experiencia{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.terceira-section-titulo{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 38px;
}

.terceira-section-icone{
  width: 20%;
  height: auto;
}

.terceira-section-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 80%;
  max-width: 1200px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  gap: 90px;
}

.terceira-section-container-mensagem-titulo{
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}

.terceira-section-esquerdo{
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 50%;
  justify-content: space-between;
  padding-top: 140px;
}

.terceira-section-direito{
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 80px;
}

.terceira-section-icone{
  height: 100%;
  max-height: 300px;
}

.terceira-section-container-mensagem h3{
  font-size: 20px;
  color: #15127A;
  margin-bottom: 10px;
}

.terceira-section-container-icone{
  width: 8%;
  height: auto;
}

.terceira-section-rodape{
  display: flex;
}

.terceira-section-rodape-denteMaior{
  position: relative;
  align-items: center;
  width: 60%;
  height: auto;
  right: 80%;
}

.terceira-section-rodape-malhaEsquerda{
  position: relative;
  align-items: center;
  width: 40%;
  height: auto;
  left: 80%;
}

.quarta-section{
  display: flex;
  align-items: center;
  margin: 0 4%;
  gap: 2%;
}

.quarta-section-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 2% 2%;
  max-width: 1200px; 
  width: 100%;
}

.quarta-section-caixa1,
.quarta-section-caixa2,
.quarta-section-caixa3{
  background-color: #15127A;
  color: #FFFFFF;
  text-align: center;
  padding: 35px;
  width: 30%; 
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-grow: 1;
}

.quarta-section-caixa2{
  background-color: #2589DB;
}

.quarta-section-caixa3{
  background-color: #E3F2F9;
  color: #2589DB;
}

.quarta-section-icone,
.quarta-section-icone3{
  width: 60px; /* Tamanho uniforme para os ícones */
  height: 60px;
  margin-bottom: 10px; /* Espaçamento igual para todos */
}

.quarta-section-icone3{
  position: relative;
  width: 80px; /* Tamanho do círculo */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quarta-section-circulo {
  width: 100%; /* O círculo fica no tamanho original */
  position: relative;
  z-index: 1;
}

.quarta-section-retangulo-h {
  width: 50px; /* Ajuste para caber dentro do círculo */
  position: absolute;
  top: 39%;
  z-index: 3;
}

.quarta-section-retangulo-v {
  width: 18px; /* Ajuste para caber dentro do círculo */
  position: absolute;
  top: 17%;
  z-index: 2;
}

.quarta-section-caixa-titulo{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: capitalize;
}

.quarta-section-caixa-paragrafo{
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  margin-inline: 30px;
}

.quarta-section-botao{
  display: flex;
  /*margin-top: auto;*/
}

.quarta-section-caixa-botao1,
.quarta-section-caixa-botao2,
.quarta-section-caixa-botao3,
.quarta-section-caixa-more,
.quarta-section-caixa-more3{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  background-color: #15127A;
  color: #FFFFFF;
  border: none;
  padding: 10px;
}

.quarta-section-caixa-botao1{
  background-color: #2589DB;
}

.quarta-section-caixa-more{
  background-color: #8EB8E5;
}

.quarta-section-caixa-more3{
  background-color: #2589DB;
}

.quarta-section-botao:hover{
  transform: translateY(-5px);
  background-color: white;
  color: #15127A;
}

/* Responsividade */
@media (max-width: 1024px) {
  .quarta-section-caixa1,
  .quarta-section-caixa2,
  .quarta-section-caixa3 {
    width: 45%; /* Duas por linha */
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .quarta-section-container {
    flex-direction: column;
    align-items: center;
  }

  .quarta-section-caixa1,
  .quarta-section-caixa2,
  .quarta-section-caixa3 {
    width: 100%; /* Fica uma abaixo da outra */
    margin-top: 20px;
  }
}